<FlexboxLayout flexDirection="row" alignItems="flex-start" justifyContent="space-between">
    <StackLayout>
	    <Label
	        class="text-label m-b-5 m-t-2"
	        [text]="title"
	        textWrap="true"
	    ></Label>
	    <Label
	        class="text-label text-label--light m-r-5"
	        [text]="subtext"
	        textWrap="true"
	    ></Label>
    </StackLayout>
    <Switch
        [ngrxFormControlState]="control"
        class="app-switch"
    ></Switch>
</FlexboxLayout>
