<ns-action-bar-container></ns-action-bar-container>
<GridLayout>
  <FlexboxLayount class="page">
    <StackLayout orientation="vertical" class="form">
      <Label text="Change Account Password"></Label>
      <Label [text]="nonFieldErrors"></Label>
      <app-non-field-messages [messages]="nonFieldErrors"></app-non-field-messages>
      
      <TextField
        [ngrxFormControlState]="form.controls.oldPassword"
        hint="Current Password"
        autocorrect="false"
        autocapitalizationType="none"
        secure="true"
      ></TextField>

      <TextField
        [ngrxFormControlState]="form.controls.newPassword"
        hint="New Password"
        autocorrect="false"
        autocapitalizationType="none"
        secure="true"
      ></TextField>

      <TextField
        [ngrxFormControlState]="form.controls.newPasswordConfirm"
        hint="New Password (Confirm)"
        autocorrect="false"
        autocapitalizationType="none"
        secure="true"
        returnKeyType="done"
        (returnPress)="onSubmit()"
      ></TextField>

      <StackLayout class="p-b-10" *ngIf="form.isInvalid && form.isSubmitted && form.errors._newPassword">
          <Label *ngIf="form.errors._newPassword.required" text="You must have a password!"></Label>
          <Label
            *ngIf="form.errors._newPassword.minLength"
            text="Password must be at least {{ form.errors._newPassword.minLength.minLength }} characters long!!"
          ></Label>
          <Label
            *ngIf="form.errors._newPassword.hasUniqueChars"
            text="Password must have more than 5 unique characters."
          ></Label>
          <Label
            *ngIf="form.errors._newPassword.notNumeric"
            text="Password must not be only numbers."
          ></Label>
          <Label
            *ngIf="form.errors._newPassword.notEqualTo"
            text="New password is the same as the old password."
          ></Label>
      </StackLayout>
      <StackLayout class="p-b-10" *ngIf="form.isInvalid && form.isSubmitted && form.errors._newPasswordConfirm">
          <Label
            *ngIf="form.errors._newPasswordConfirm.equalTo && form.controls.showConfirm.value"
            text="Passwords don't match."
          ></Label>
      </StackLayout>

      <Button
          class="submit-button"
          text="Change Password"
          (tap)="onSubmit()"
      ></Button>

    </StackLayout>
  </FlexboxLayount>
</GridLayout>
